
body{
text-align: center;
font-family: calibri;
font-size:20px;
}

li{

list-style: none;
list-height: 2em;
text-align: left;
}

.header{
background:#f4f4f4;
border-bottom:#ccc 3px solid;
padding: 20px;
}

.container{
width:700px;
margin:30px auto;
}